<div class="">
  <h1 class="m-5">Application</h1>
  <!-- <app-login></app-login>
<app-register></app-register> -->
  <nav>
    <a
      class="button"
      routerLink="/login"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Login</a
    >
    |
    <a
      class="button"
      routerLink="/register"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Register</a
    >
    |
    <a
      class="button"
      routerLink="/todo"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Todo</a
    >
    |
    <a
      class="button"
      routerLink="/home"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Home</a
    >
  </nav>
  <router-outlet></router-outlet>
</div>
